
.title{
font-size:45px;
margin-left: 45px;
color: hotpink;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: skyblue;
}

a{
text-decoration: none;
color: black;
}


#top{
	background-image: url(사진/블루배경.png);
	background-size: cover;
display: grid;
grid-template-columns: 1fr 3fr
}

.title,.menu{ border-right: 1px solid black;}

.li{
  height: 40px;
margin-top: 30px;
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr
}

.menu{
margin-top: 18px;
}




.font{
  margin-left: 150px;
}

h1{
  font-size: 2.5rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}

.c {
    color: #007bff;
}


.card-img-top {
    width: 100%;
}

@media (min-width: 1200px)
.container {
    max-width: 1140px;
}

@media (min-width: 992px)
.container {
    max-width: 960px;
}

@media (min-width: 768px)
.container {
    max-width: 720px;
}

@media (min-width: 576px)
.container {
    max-width: 540px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: inline;
}

.col-lg-4{
  padding-left: 15px;
  padding-right: 15px;
  width: 380px;
  height: 624.800px;
  margin-bottom: 30px;
}
